.App {
    height: '100vh';
    width: '100vw';
}

.navbar {
    margin: 0;
    padding-left: 2%;
    padding-bottom: 1%;
    background-color: #f9f2fc;
}

.input{
    width: 100%;
    padding: 5px 5px;
    margin: 8px 0px;
    box-sizing: border-box;
    display: inline-block;
    border-color: rgb(162, 107, 162);
}


.ReviewBtn {
    border-color: #e070e0;
    color: black;
    padding: 12px;
    border-radius: 12px;
    font-size: medium;
    transition-duration: 0.4s;
}
.ReviewBtn:hover {
    background-color: #e070e0;
    color: white;
    padding-left: 1.5%;
    padding-right: 1.5%;
    cursor: pointer;
}

.sidebarStyle {
    padding-left: 0px;
} 
  
.blockStyle {
    height: 10vh;
};
  